
@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .dot {
    animation: showHideDot 2.5s ease-in-out infinite;
  }
  
  .one { animation-delay: 0.2s; }
  .two { animation-delay: 0.4s; }
  .three { animation-delay: 0.6s; }
  